In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('BPIC_12.csv')
df

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
...,...,...,...,...,...,...,...
262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000
262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000
262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000
262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000
262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000

In [36]:
df['concept:name'].unique()

array(['A_SUBMITTED', 'A_PARTLYSUBMITTED', 'A_PREACCEPTED',
       'W_Completeren aanvraag', 'A_ACCEPTED', 'O_SELECTED',
       'A_FINALIZED', 'O_CREATED', 'O_SENT', 'W_Nabellen offertes',
       'O_SENT_BACK', 'W_Valideren aanvraag', 'A_REGISTERED',
       'A_APPROVED', 'O_ACCEPTED', 'A_ACTIVATED', 'O_CANCELLED',
       'W_Wijzigen contractgegevens', 'A_DECLINED', 'A_CANCELLED',
       'W_Afhandelen leads', 'O_DECLINED',
       'W_Nabellen incomplete dossiers', 'W_Beoordelen fraude'],
      dtype=object)

In [37]:
df['case:concept:name'].value_counts()

case:concept:name
185548    175
195247    170
183175    167
198232    163
181799    161
         ...
189211      3
189190      3
205477      3
205502      3
194055      3
Name: count, Length: 13087, dtype: int64

In [38]:
df[df['case:concept:name'] == 173688]

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
6,10862.0,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
7,10862.0,COMPLETE,A_FINALIZED,2011-10-01 11:45:09.243000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
8,10862.0,COMPLETE,O_CREATED,2011-10-01 11:45:11.197000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
9,10862.0,COMPLETE,O_SENT,2011-10-01 11:45:11.380000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
10,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 11:45:11.554000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
11,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 11:45:13.917000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
12,NaN,START,W_Nabellen offertes,2011-10-01 12:15:41.290000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
13,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 12:17:08.924000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
14,10913.0,START,W_Nabellen offertes,2011-10-08 16:26:57.720000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
15,10913.0,COMPLETE,W_Nabellen offertes,2011-10-08 16:32:00.886000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
16,11049.0,START,W_Nabellen offertes,2011-10-10 11:32:22.495000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
17,11049.0,COMPLETE,O_SENT_BACK,2011-10-10 11:33:03.668000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
18,11049.0,SCHEDULE,W_Valideren aanvraag,2011-10-10 11:33:04.560000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
19,11049.0,COMPLETE,W_Nabellen offertes,2011-10-10 11:33:05.791000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
20,10629.0,START,W_Valideren aanvraag,2011-10-13 10:05:26.925000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
21,10629.0,COMPLETE,A_REGISTERED,2011-10-13 10:37:29.226000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
22,10629.0,COMPLETE,A_APPROVED,2011-10-13 10:37:29.226000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
23,10629.0,COMPLETE,O_ACCEPTED,2011-10-13 10:37:29.226000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
24,10629.0,COMPLETE,A_ACTIVATED,2011-10-13 10:37:29.226000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000
25,10629.0,COMPLETE,W_Valideren aanvraag,2011-10-13 10:37:37.026000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000

In [39]:
#df[df['case:concept:name'] == 214376]
df[df['case:concept:name'] == 173706]

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
139,112.0,COMPLETE,A_SUBMITTED,2011-10-01 09:45:37.274000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
140,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 09:45:37.363000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
141,112.0,SCHEDULE,W_Afhandelen leads,2011-10-01 09:46:18.623000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
142,10912.0,START,W_Afhandelen leads,2011-10-01 10:15:43.883000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
143,10912.0,COMPLETE,A_PREACCEPTED,2011-10-01 10:16:48.956000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
144,10912.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 10:16:48.991000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
145,10912.0,COMPLETE,W_Afhandelen leads,2011-10-01 10:16:49.843000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
146,10912.0,START,W_Completeren aanvraag,2011-10-01 11:49:28.183000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
147,10912.0,COMPLETE,W_Completeren aanvraag,2011-10-01 11:50:14.483000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
148,10912.0,START,W_Completeren aanvraag,2011-10-01 11:50:21.451000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
149,10912.0,COMPLETE,W_Completeren aanvraag,2011-10-01 11:53:55.769000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
150,NaN,START,W_Completeren aanvraag,2011-10-01 14:50:26.172000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
151,11111.0,COMPLETE,A_DECLINED,2011-10-01 14:59:58.557000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
152,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 15:00:02.537000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000

In [40]:
df.groupby('case:concept:name')['concept:name'].last().value_counts()

concept:name
A_DECLINED                        3429
W_Valideren aanvraag              2747
W_Afhandelen leads                2234
W_Completeren aanvraag            1939
W_Nabellen offertes               1290
A_CANCELLED                        655
W_Nabellen incomplete dossiers     452
O_CANCELLED                        279
W_Beoordelen fraude                 57
W_Wijzigen contractgegevens          4
A_REGISTERED                         1
Name: count, dtype: int64

In [41]:
df[df['concept:name']== 'A_DECLINED']

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
126,112.0,COMPLETE,A_DECLINED,2011-10-01 08:11:46.420000+00:00,2011-10-01 08:11:08.865000+00:00,173697,15000
129,112.0,COMPLETE,A_DECLINED,2011-10-01 08:16:21.037000+00:00,2011-10-01 08:15:39.894000+00:00,173700,5000
151,11111.0,COMPLETE,A_DECLINED,2011-10-01 14:59:58.557000+00:00,2011-10-01 09:45:37.274000+00:00,173706,18000
200,10138.0,COMPLETE,A_DECLINED,2011-10-13 11:05:24.620000+00:00,2011-10-01 09:59:10.501000+00:00,173715,45000
313,11009.0,COMPLETE,A_DECLINED,2011-10-10 16:28:25.531000+00:00,2011-10-01 11:07:34.279000+00:00,173721,9000
...,...,...,...,...,...,...,...
262051,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:25:33.798000+00:00,2012-02-29 22:33:12.182000+00:00,214349,50000
262136,10138.0,COMPLETE,A_DECLINED,2012-03-13 11:21:42.128000+00:00,2012-02-29 23:11:37.974000+00:00,214361,5000
262170,112.0,COMPLETE,A_DECLINED,2012-02-29 23:29:21.958000+00:00,2012-02-29 23:28:41.098000+00:00,214367,500
262175,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:28:18.168000+00:00,2012-02-29 23:28:55.349000+00:00,214370,20000
262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000

In [42]:
# Filter to only events starting with "A_"
a_events = df[df['concept:name'].str.startswith('A_')]

# For each case, get the last 'A_' activity
last_a = a_events.groupby('case:concept:name')['concept:name'].last().reset_index()
last_a.rename(columns={'concept:name': 'last_A_event'}, inplace=True)

# Merge back into the original dataframe
df = df.merge(last_a, on='case:concept:name', how='left')
df

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ,last_A_event
0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED
1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED
2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED
3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED
...,...,...,...,...,...,...,...,...
262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED
262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED
262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED
262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED
262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED

In [43]:
counts = (
    df[['case:concept:name', 'last_A_event']]
    .drop_duplicates(subset='case:concept:name')  # keep only one row per case
    ['last_A_event']
    .value_counts(dropna=False)
)
print(counts)

last_A_event
A_DECLINED       7635
A_CANCELLED      2807
A_ACTIVATED      1122
A_REGISTERED      787
A_APPROVED        337
A_FINALIZED       327
A_PREACCEPTED      69
A_ACCEPTED          3
Name: count, dtype: int64

In [ ]:
# https://ais.win.tue.nl/bpi/2012/bautista.pdf 

df['case_declined'] = np.where(df['last_A_event'] == 'A_DECLINED', 1, 0)
df['case_cancelled'] = np.where(df['last_A_event'] == 'A_CANCELLED', 1, 0)
df['case_approved'] = np.where(df['last_A_event'].isin(['A_ACTIVATED', 'A_REGISTERED', 'A_APPROVED']), 1, 0)
df['case_unresolved'] = np.where(df['last_A_event'].isin(['A_FINALIZED', 'A_PREACCEPTED', 'A_ACCEPTED']), 1, 0)

In [45]:
df

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ,last_A_event,case_declined,case_cancelled,case_approved,case_unresolved
0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED,0,0,1,0
1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED,0,0,1,0
2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED,0,0,1,0
3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED,0,0,1,0
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A_ACTIVATED,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED,1,0,0,0
262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED,1,0,0,0
262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED,1,0,0,0
262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED,1,0,0,0
262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+00:00,2012-02-29 23:51:16.799000+00:00,214376,15000,A_DECLINED,1,0,0,0